<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.CommentMapper">
    <resultMap id="commentList" type="com.qf.vo.CommentVO">
        <id property="comId" column="com_id"/>
        <result property="userId" column="user_id"/>
        <result property="nickName" column="nick_name"/>
        <result property="content" column="content"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="icon" column="icon"/>
    </resultMap>
    <select id="allComment" resultMap="commentList">
        select c.*,u.icon icon from comment c left join userinfo u on c.user_id=u.userId where c.status=1
    </select>
    <insert id="addComment" parameterType="com.qf.pojo.CommentInfo">
        insert into comment (user_id,nick_name,content,status,create_time) values (#{userId},#{nickName}
        ,#{content},1,CURRENT_TIMESTAMP)
    </insert>
    <update id="deleteCommentByComId" parameterType="long">
        update comment set status =0  where com_id=#{comId};
    </update>
</mapper>
